In [10]:
import pandas as pd
from rent_index_scaler import RentIndexAdjust

In [13]:
df = pd.read_csv('../classifying/classified_mumbai.csv')
df.head(3)

     price                            coord  class
0  17750.0           (18.938788, 72.838105)    0.0
1  66500.0  (18.9304714, 72.83353309999998)    0.0
2  41550.0  (18.9801254, 72.84028599999998)    0.0

In [14]:
df['price'] = RentIndexAdjust(df['price'], 'Mumbai, India', 'INR')
df.head()

    price                            coord  class
0  1193.0           (18.938788, 72.838105)    0.0
1  4471.0  (18.9304714, 72.83353309999998)    0.0
2  2794.0  (18.9801254, 72.84028599999998)    0.0
3   588.0          (19.160481, 72.9454193)    0.0
4  1204.0  (19.1296654, 72.93163609999998)    0.0