In [1]:
import pandas as pd
import numpy as np
from is_slum import get_slum_val
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../data/hyderabad/geocoded.csv')

In [3]:
df.head()

,price,title,furnishing,tenants preferred,bathroom,availability,longitude,latitude,balcony,floor,facing,overlooking,car parking,owner resides,address,gmaps_info,coord
0,"₹ 18,000",3 BHK House for rent in Gudimalkapur 1400 sqft,Unfurnished,Bachelors/Family,2,Immediately,78.437402,17.378782,NaN,NaN,NaN,NaN,NaN,NaN,"Gudimalkapur, Hyderabad",[{'address_components': [{'long_name': 'Gudima...,"(17.3787821, 78.4374024)"
1,"₹ 20,000",3 BHK Villa for rent in Shamshabad 1500 sqft,Unfurnished,Bachelors,3,From Mar '20,17.270166,78.393593,3,NaN,NaN,NaN,NaN,NaN,"Shamshabad, Hyderabad",[{'address_components': [{'long_name': 'Shamsh...,"(17.2619301, 78.387971)"
2,"₹ 5,800",1 BHK Apartment for rent in Vinayak Nagar II-H...,Unfurnished,Family,1,Immediately,78.598729,17.331128,1,1 out of 1 Floor,East,Main Road,NaN,NaN,"Vinayak Nagar II-Hayathnagar, Hyderabad",[{'address_components': [{'long_name': 'Vinaya...,"(17.3311276, 78.5987291)"
3,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",Semi-Furnished,Bachelors/Family,2,Immediately,78.399146,17.494868,NaN,2 out of 5 Floors,NaN,NaN,NaN,NaN,"Kukatpally, NH 9, Hyderabad",[{'address_components': [{'long_name': 'Nation...,"(17.4948682, 78.3991456)"
4,"₹ 20,000",3 BHK Apartment for rent in Dellapur 1560 sqft,Semi-Furnished,Bachelors/Family,2,Immediately,78.286481,17.463172,NaN,5 out of 5 Floors,NaN,NaN,NaN,NaN,"Dellapur, Hyderabad",[{'address_components': [{'long_name': 'Tellap...,"(17.463172, 78.2864815)"

In [4]:
df.isna().sum(), df.shape

(price                   0
 title                   0
 furnishing            388
 tenants preferred     379
 bathroom              394
 availability          379
 longitude               1
 latitude                1
 balcony              1245
 floor                 564
 facing               1302
 overlooking          1641
 car parking          1765
 owner resides        2230
 address                 0
 gmaps_info              0
 coord                   0
 dtype: int64,
 (2309, 17))

In [5]:
df.drop(columns=['owner resides', 'car parking', 'overlooking', 'facing', 'balcony'], inplace=True)

In [6]:
df.dropna(inplace=True)
df.reset_index(inplace=True)

In [7]:
temp = []
index = 0
for i in range(len(df)):
    index = i
    temp.append(get_slum_val('hyderabad', (df['latitude'][i], df['longitude'][i])))

In [8]:
index

1733

In [9]:
df.iloc[29]

index                                                               38
price                                                         ₹ 15,000
title                   3 BHK Apartment for rent in Kompally 1530 sqft
furnishing                                              Semi-Furnished
tenants preferred                                     Bachelors/Family
bathroom                                                             3
availability                                               Immediately
longitude                                                      78.4845
latitude                                                       17.5366
floor                                                2 out of 4 Floors
address                                            Kompally, Hyderabad
gmaps_info           [{'address_components': [{'long_name': 'Kompal...
coord                                         (17.5366218, 78.4844811)
Name: 29, dtype: object

In [10]:
df['is_slum'] = temp

In [11]:
df.head()

,index,price,title,furnishing,tenants preferred,bathroom,availability,longitude,latitude,floor,address,gmaps_info,coord,is_slum
0,2,"₹ 5,800",1 BHK Apartment for rent in Vinayak Nagar II-H...,Unfurnished,Family,1,Immediately,78.598729,17.331128,1 out of 1 Floor,"Vinayak Nagar II-Hayathnagar, Hyderabad",[{'address_components': [{'long_name': 'Vinaya...,"(17.3311276, 78.5987291)",0
1,3,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",Semi-Furnished,Bachelors/Family,2,Immediately,78.399146,17.494868,2 out of 5 Floors,"Kukatpally, NH 9, Hyderabad",[{'address_components': [{'long_name': 'Nation...,"(17.4948682, 78.3991456)",0
2,4,"₹ 20,000",3 BHK Apartment for rent in Dellapur 1560 sqft,Semi-Furnished,Bachelors/Family,2,Immediately,78.286481,17.463172,5 out of 5 Floors,"Dellapur, Hyderabad",[{'address_components': [{'long_name': 'Tellap...,"(17.463172, 78.2864815)",0
3,5,"₹ 45,000",3 BHK Builder Floor for rent in Whitefields 20...,Furnished,Bachelors/Family,3,Immediately,78.368490,17.455483,3 out of 5 Floors,"Whitefields, Hyderabad",[{'address_components': [{'long_name': 'Whitef...,"(17.4554835, 78.3684902)",0
4,6,"₹ 21,000","3 BHK House for rent in Madhava Nagar Colony, ...",Semi-Furnished,Family,2,Immediately,78.361112,17.495290,1 out of 6 Floors,"Madhava Nagar Colony, Miyapur, Hyderabad",[{'address_components': [{'long_name': 'Madhav...,"(17.4952899, 78.3611116)",0

In [12]:
df.drop(columns='index', inplace=True)

In [13]:
df['is_slum'].value_counts()

0    1682
1      52
Name: is_slum, dtype: int64

In [14]:
df = pd.concat([df, df[df['is_slum'] == 1].sample(1630, replace = True)]).reset_index().drop(columns='index')

In [15]:
df.tail()

,price,title,furnishing,tenants preferred,bathroom,availability,longitude,latitude,floor,address,gmaps_info,coord,is_slum
3359,"₹ 21,000",3 BHK Apartment for rent in Moti Nagar 1250 sqft,Semi-Furnished,Bachelors/Family,2,Immediately,78.418348,17.449277,3 out of 5 Floors,"Moti Nagar, Hyderabad",[{'address_components': [{'long_name': 'Moti N...,"(17.4492773, 78.41834779999999)",1
3360,"₹ 20,000","3 BHK Apartment for rent in Aditya Nagar, Hafe...",Furnished,Bachelors/Family,2,Immediately,78.365734,17.480639,2 out of 5 Floors,"Aditya Nagar, Hafeezpet, Hyderabad",[{'address_components': [{'long_name': 'Aditya...,"(17.4806393, 78.36573419999999)",1
3361,"₹ 18,000","2 BHK Apartment for rent in Old Nallakunta, Ne...",Semi-Furnished,Bachelors/Family,2,Immediately,78.502896,17.402037,3 out of 4 Floors,"Old Nallakunta, New Nallakunta, Hyderabad",[{'address_components': [{'long_name': 'Old Na...,"(17.4020368, 78.5028963)",1
3362,"₹ 22,000",3 BHK Apartment for rent in Panjagutta Colony ...,Furnished,Bachelors/Family,3,Immediately,78.451127,17.424520,Lower Basement out of 1 Floor,"Panjagutta Colony, Hyderabad",[{'address_components': [{'long_name': 'Punjag...,"(17.4245199, 78.4511272)",1
3363,"₹ 16,000",3 BHK Service Apartment for rent in Chandanaga...,Unfurnished,Bachelors/Family,3,Immediately,78.327901,17.494913,Ground out of 4 Floors,"Chandanagar, NH 9, Hyderabad",[{'address_components': [{'long_name': 'Nation...,"(17.4949134, 78.3279013)",1

In [16]:
df['is_slum'].value_counts()

1    1682
0    1682
Name: is_slum, dtype: int64

In [17]:
df = pd.get_dummies(df, columns=['furnishing', 'tenants preferred', 'availability', 'floor', 'bathroom'], drop_first=True)

In [18]:
df.head(3)

,price,title,longitude,latitude,address,gmaps_info,coord,is_slum,furnishing_Semi-Furnished,furnishing_Unfurnished,...,floor_Upper Basement out of 1 Floor,floor_Upper Basement out of 2 Floors,floor_Upper Basement out of 5 Floors,bathroom_2,bathroom_3,bathroom_4,bathroom_5,bathroom_6,bathroom_7,bathroom_> 10
0,"₹ 5,800",1 BHK Apartment for rent in Vinayak Nagar II-H...,78.598729,17.331128,"Vinayak Nagar II-Hayathnagar, Hyderabad",[{'address_components': [{'long_name': 'Vinaya...,"(17.3311276, 78.5987291)",0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",78.399146,17.494868,"Kukatpally, NH 9, Hyderabad",[{'address_components': [{'long_name': 'Nation...,"(17.4948682, 78.3991456)",0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,"₹ 20,000",3 BHK Apartment for rent in Dellapur 1560 sqft,78.286481,17.463172,"Dellapur, Hyderabad",[{'address_components': [{'long_name': 'Tellap...,"(17.463172, 78.2864815)",0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [19]:
X = df.drop(columns=['price', 'title', 'latitude', 'longitude', 'is_slum', 'address', 'title', 'gmaps_info', 'coord'])
y = df['is_slum']

In [20]:
list(X.columns)

['furnishing_Semi-Furnished',
 'furnishing_Unfurnished',
 'tenants preferred_Bachelors/Family',
 'tenants preferred_Family',
 "availability_From Feb '20",
 "availability_From Mar '20",
 'availability_Immediately',
 'floor_1 out of 1 Floor',
 'floor_1 out of 10 Floors',
 'floor_1 out of 12 Floors',
 'floor_1 out of 13 Floors',
 'floor_1 out of 16 Floors',
 'floor_1 out of 2 Floors',
 'floor_1 out of 3 Floors',
 'floor_1 out of 30 Floors',
 'floor_1 out of 4 Floors',
 'floor_1 out of 5 Floors',
 'floor_1 out of 6 Floors',
 'floor_1 out of 7 Floors',
 'floor_1 out of 8 Floors',
 'floor_1 out of 9 Floors',
 'floor_10 out of 10 Floors',
 'floor_10 out of 27 Floors',
 'floor_10 out of 29 Floors',
 'floor_11 out of 30 Floors',
 'floor_11 out of 34 Floors',
 'floor_12 out of 12 Floors',
 'floor_12 out of 28 Floors',
 'floor_14 out of 14 Floors',
 'floor_14 out of 15 Floors',
 'floor_14 out of 30 Floors',
 'floor_15 out of 18 Floors',
 'floor_15 out of 30 Floors',
 'floor_16 out of 20 Floors',
 'floor_16 out of 33 Floors',
 'floor_17 out of 19 Floors',
 'floor_17 out of 20 Floors',
 'floor_17 out of 22 Floors',
 'floor_17 out of 23 Floors',
 'floor_17 out of 30 Floors',
 'floor_18 out of 24 Floors',
 'floor_19 out of 21 Floors',
 'floor_2 out of 12 Floors',
 'floor_2 out of 13 Floors',
 'floor_2 out of 14 Floors',
 'floor_2 out of 15 Floors',
 'floor_2 out of 16 Floors',
 'floor_2 out of 2 Floors',
 'floor_2 out of 3 Floors',
 'floor_2 out of 31 Floors',
 'floor_2 out of 4 Floors',
 'floor_2 out of 5 Floors',
 'floor_2 out of 6 Floors',
 'floor_2 out of 7 Floors',
 'floor_2 out of 8 Floors',
 'floor_2 out of 9 Floors',
 'floor_20 out of 20 Floors',
 'floor_20 out of 23 Floors',
 'floor_21 out of 30 Floors',
 'floor_22 out of 25 Floors',
 'floor_22 out of 30 Floors',
 'floor_23 out of 30 Floors',
 'floor_25 out of 36 Floors',
 'floor_3',
 'floor_3 out of 10 Floors',
 'floor_3 out of 15 Floors',
 'floor_3 out of 16 Floors',
 'floor_3 out of 18 Floors',
 'floor_3 out of 20 Floors',
 'floor_3 out of 22 Floors',
 'floor_3 out of 25 Floors',
 'floor_3 out of 3 Floors',
 'floor_3 out of 4 Floors',
 'floor_3 out of 5 Floors',
 'floor_3 out of 6 Floors',
 'floor_3 out of 7 Floors',
 'floor_3 out of 8 Floors',
 'floor_3 out of 9 Floors',
 'floor_4',
 'floor_4 out of 12 Floors',
 'floor_4 out of 14 Floors',
 'floor_4 out of 20 Floors',
 'floor_4 out of 21 Floors',
 'floor_4 out of 4 Floors',
 'floor_4 out of 5 Floors',
 'floor_4 out of 6 Floors',
 'floor_4 out of 7 Floors',
 'floor_4 out of 8 Floors',
 'floor_4 out of 9 Floors',
 'floor_5 out of 10 Floors',
 'floor_5 out of 11 Floors',
 'floor_5 out of 12 Floors',
 'floor_5 out of 13 Floors',
 'floor_5 out of 14 Floors',
 'floor_5 out of 20 Floors',
 'floor_5 out of 5 Floors',
 'floor_5 out of 6 Floors',
 'floor_5 out of 7 Floors',
 'floor_5 out of 8 Floors',
 'floor_5 out of 9 Floors',
 'floor_6 out of 10 Floors',
 'floor_6 out of 12 Floors',
 'floor_6 out of 16 Floors',
 'floor_6 out of 20 Floors',
 'floor_6 out of 22 Floors',
 'floor_6 out of 6 Floors',
 'floor_6 out of 7 Floors',
 'floor_6 out of 8 Floors',
 'floor_6 out of 9 Floors',
 'floor_7 out of 20 Floors',
 'floor_7 out of 30 Floors',
 'floor_7 out of 7 Floors',
 'floor_7 out of 8 Floors',
 'floor_8 out of 10 Floors',
 'floor_8 out of 11 Floors',
 'floor_8 out of 13 Floors',
 'floor_8 out of 14 Floors',
 'floor_8 out of 8 Floors',
 'floor_8 out of 9 Floors',
 'floor_9 out of 10 Floors',
 'floor_9 out of 11 Floors',
 'floor_9 out of 12 Floors',
 'floor_9 out of 13 Floors',
 'floor_9 out of 15 Floors',
 'floor_9 out of 9 Floors',
 'floor_Ground out of 1 Floor',
 'floor_Ground out of 12 Floors',
 'floor_Ground out of 2 Floors',
 'floor_Ground out of 3 Floors',
 'floor_Ground out of 4 Floors',
 'floor_Ground out of 5 Floors',
 'floor_Ground out of 6 Floors',
 'floor_Lower Basement out of 1 Floor',
 'floor_Lower Basement out of 2 Floors',
 'floor_Lower Basement out of 3 Floors',
 'floor_Upper Basement out of 1 Floor',
 'floor_Upper Basement out of 2 Floors',
 'floor_Upper Basement out of 5 Floors',
 'bathroom_2',
 'bathroom_3',
 'bathroom_4',
 'bathroom_5',
 'bathroom_6',
 'bathroom_7',
 'bathroom_> 10']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.24355159471957744, -2.2611813942874438e+21)

In [24]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
rf.score(X_train, y_train), rf.score(X_test, y_test)

(0.8830757035275466, 0.8799048751486326)

In [26]:
rf.predict(X_train).sum()

1533